.ProductDesc {
  width: auto;
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.ProductDesc p {
  margin: 0;
  line-height: 20px;
  padding: 20px;
}

.ProductDesc .moreDesc {
  display: none;
}

@media (min-width: 414px) {
  .ProductDesc {
  }
}
