.SubNavBar {
  background-color: var(--text-bright-color);
  background-color: #fff;
  padding: 20px 10px;
  width: auto;
  display: flex;
  font-size: 18px;
  border-bottom: 10px solid #e9ecef;
}

.SubNavBar h1 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.SubNavBar .backward {
  flex: 1;
}

.SubNavBar .backward i {
  cursor: pointer;
  font-size: 20px;
}

.SubNavBar .titleName {
  flex: 8;
}

.SubNavBar .empty {
  flex: 1;
}
