.TicketInput {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.TicketInput .left {
  flex: 6;
}

.TicketInput .left h2 {
  margin: 0;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
}

.TicketInput p {
  font-size: 14px;
  color: #808080;
  color: var(--text-grey-color);
  margin: 5px 0 0 0;
}

.TicketInput .right {
  flex: 4;
}

.TicketInput .right p {
  text-align: right;
}

.TicketInput .adjustTicket {
  display: flex;
  justify-content: flex-end;
}

.TicketInput .adjustTicket button {
  flex: 1;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  max-width: 40px;
  border-style: none;
  font-family: 'Nanum Gothic Bold';
  background-color: #fff;
  background-color: var(--text-bright-color);
}

.TicketInput .adjustTicket button.ico_minus3 {
  color: #1ec800;
  color: var(--main-color);
}

.TicketInput .adjustTicket button.ico_plus3 {
  background-color: #1ec800;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-bright-color);
}

.TicketInput .adjustTicket button.disabled.ico_minus3 {
  background-position: 0 -305px;
}

.TicketInput .adjustTicket .count {
  display: block;
  flex: 1;
  width: 40px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Nanum Gothic Bold';
  color: #1ec800;
  color: var(--main-color);
  min-width: 0;
  max-width: 40px;
  text-align: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: #1ec800;
  border-color: var(--main-color);
}

.TicketInput .adjustTicket .disabled {
  border-color: #ccc;
  color: #bbb;
}
