.ReviewEdit {
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.ReviewEdit .ratingSection p {
  text-align: center;
  font-size: 17px;
  padding: 15px 0 10px 0;
}

.ReviewEdit .ratingSection .ratingStar {
  display: flex;
  justify-content: center;
}

.ReviewEdit .ratingSection i {
  font-size: 38px;
  cursor: pointer;
}

.ReviewEdit .ratingSection i.getStar {
  color: #f00;
}

.ReviewEdit .ratingSection i.notGetStar {
  color: #e6e6e6;
}

.ReviewEdit .ratingSection input[type='number'] {
  all: unset;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Nanum Gothic Bold';
  padding-left: 5px;
  text-align: right;
  width: 40px;
  color: #ddd;
}

.ReviewEdit .writeComment {
  display: flex;
  justify-content: center;
  padding: 10px 20px 0 20px;
}

.ReviewEdit .writeComment textarea {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Nanum Gothic Regular';
  border: 1px solid #e8e8e8;
  resize: none;
}

.ReviewEdit .postImage .imageLetterCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 20px 30px 20px;
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 0 1px 1px 1px;
}

.ReviewEdit .postImage .imageLetterCount input[type='file'] {
  display: none;
}

.ReviewEdit .postImage .imageLetterCount label {
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0 10px 10px;
}

.ReviewEdit .postImage .imageLetterCount p {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #999;
}

.ReviewEdit .postImage .thumbnailImage {
  width: 200px;
  margin: 20px 0 30px 107px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-start;
  display: none;
}

.ReviewEdit .postImage .thumbnailImage i {
  font-size: 20px;
  color: #1ec800;
  color: var(--main-color);
  border: 1px solid #1ec800;
  cursor: pointer;
}

.ReviewEdit .submitSection {
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

.ReviewEdit input[name='submit'] {
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  margin: 10px 0 30px 10px;
  padding: 0;
  width: 394px;
  background-color: #1ec800;
  background-color: var(--main-color);
  border: none;
}

.ReviewEdit input[name='change'] {
  display: inline-block;
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  padding: 0;
  width: 197px;
  background-color: #1ec800;
  background-color: var(--main-color);
  border: none;
}

.ReviewEdit input[name='cancel'] {
  display: inline-block;
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  padding: 0;
  width: 197px;
  background-color: #d8dbde;
  border: none;
}

@media (min-width: 414px) {
}
