@charset "UTF-8";

:root {
  --main-color: #1ec800;
  --grey-color: #e9ecef;
  --text-bright-color: #fff;
  --text-dark-color: #000;
  --text-grey-color: #808080;
  --text-highlight-color: #f00;
  --breakpoint-width: 414px;
}

@font-face {
  font-family: 'Nanum Gothic Regular';
  src: url('/font/NanumGothicRegular.woff');
}

@font-face {
  font-family: 'Nanum Gothic Bold';
  src: url('/font/NanumGothicBold.woff');
}

@font-face {
  font-family: 'Naver Icons';
  src: url('/font/Naver-Icons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Naver booking Icons';
  src: url('/font/Naver-booking-Icons.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #d4dadf;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic Regular', '맑은 고딕', 'Apple SD Gothic Neo',
    sans-serif;
  font-size: 14px;
}

ul,
ol,
h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Nanum Gothic Bold';
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

#content {
  width: 100vw;
  min-height: 100vh;
  max-width: 414px;
  max-width: var(--breakpoint-width);
  background-color: #e9ecef;
}

@media (min-width: 414px) {
  #content {
    margin: 0 auto;
  }
}

.fn {
  display: inline-block;
  height: 1em;
}

.fn:before {
  font-family: 'Naver Icons';
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fn-alarm1:before {
  content: '\EA07';
}

.fn-alarm2:before {
  content: '\EA08';
}

.fn-backward1:before {
  content: '\EA12';
}

.fn-backward2:before {
  content: '\EA13';
}

.fn-call1:before {
  content: '\EA25';
}

.fn-call2:before {
  content: '\EA26';
}

.fn-cross1:before {
  content: '\EA29';
}

.fn-cross2:before {
  content: '\EA30';
}

.fn-present1:before {
  content: '\EA2C';
}

.fn-present2:before {
  content: '\EA2D';
}

.fn-check:before {
  content: '\EA35';
}

.fn-down2:before {
  content: '\EA3D';
}

.fn-forward1:before {
  content: '\EA44';
}

.fn-forward2:before {
  content: '\EA45';
}

.fn-home1:before {
  content: '\EA4A';
}

.fn-car-find1:before {
  content: '\EA64';
}

.fn-car-find2:before {
  content: '\EA65';
}

.fn-nbooking-calender1:before {
  content: '\EA66';
}

.fn-nbooking-calender2:before {
  content: '\EA67';
}

.fn-path-find1:before {
  content: '\EA74';
}

.fn-path-find2:before {
  content: '\EA75';
}

.fn-pin1:before {
  content: '\EA7A';
}

.fn-pin2:before {
  content: '\EA7B';
}

.fn-pin3:before {
  content: '\EA7C';
}

.fn-pin4:before {
  content: '\EA7D';
}

.fn-share1:before {
  content: '\EA96';
}

.fn-star1:before {
  content: '\EAA2';
}

.fn-star2:before {
  content: '\EAA3';
}

.fn-up1:before {
  content: '\EABF';
}

.fn-up2:before {
  content: '\EAC0';
}

.fn-navigation2:before {
  content: '\EA65';
}

.fn-mail1:before {
  content: '\EA58';
}

.fn-dots1:before {
  content: '\EA5E';
}

.fn-dots2:before {
  content: '\EA5F';
}

.fn-write2:before {
  content: '\EADB';
}

.fn-image1:before {
  content: '\EA4C';
}

.fn-booking {
  display: inline-block;
  height: 1em;
  line-height: 1em;
}

.fn-booking:before {
  font-family: 'Naver booking Icons';
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fn-booking.fn-18 {
  font-size: 18px;
}
.fn-booking.fn-24 {
  font-size: 24px;
}
.fn-booking.fn-36 {
  font-size: 36px;
}
.fn-booking.fn-48 {
  font-size: 48px;
}
.fn-booking-backward1:before {
  content: '\EA01';
}
.fn-booking-cafeteria-general:before {
  content: '\EA02';
}
.fn-booking-cafeteria-table:before {
  content: '\EA03';
}
.fn-booking-channel:before {
  content: '\EA04';
}
.fn-booking-check1:before {
  content: '\EA05';
}
.fn-booking-close1:before {
  content: '\EA06';
}
.fn-booking-cross-in-circle:before {
  content: '\EA07';
}
.fn-booking-down1:before {
  content: '\EA08';
}
.fn-booking-exposed:before {
  content: '\EA09';
}
.fn-booking-first-forward1:before {
  content: '\EA0A';
}
.fn-booking-forward1:before {
  content: '\EA0B';
}
.fn-booking-hairshop:before {
  content: '\EA0C';
}
.fn-booking-kwon:before {
  content: '\EA0D';
}
.fn-booking-last-backward1:before {
  content: '\EA0E';
}
.fn-booking-line1:before {
  content: '\EA0F';
}
.fn-booking-m-analysis:before {
  content: '\EA10';
}
.fn-booking-m-channel:before {
  content: '\EA11';
}
.fn-booking-m-config:before {
  content: '\EA12';
}
.fn-booking-m-customer:before {
  content: '\EA13';
}
.fn-booking-m-info1:before {
  content: '\EA14';
}
.fn-booking-m-service:before {
  content: '\EA15';
}
.fn-booking-m-status:before {
  content: '\EA16';
}
.fn-booking-movie:before {
  content: '\EA17';
}
.fn-booking-performance:before {
  content: '\EA18';
}
.fn-booking-plus1:before {
  content: '\EA19';
}
.fn-booking-simple:before {
  content: '\EA1A';
}
.fn-booking-status:before {
  content: '\EA1B';
}
.fn-booking-up1:before {
  content: '\EA1C';
}

i:before {
  vertical-align: middle;
}

.spr_book {
  overflow: hidden;
  display: inline-block;
  color: transparent;
  background-image: url('/images/img/spr_book.png?1602251400');
  background-size: 400px 400px;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
}

.spr_book.ico_evt {
  width: 27px;
  height: 27px;
  background-position: -270px -150px;
}

.spr_book.ico_naver_s {
  width: 21px;
  height: 21px;
  background-position: -226px -237px;
}

.spr_book.ico_arr_ipc2 {
  width: 10px;
  height: 10px;
  background-position: -378px -187.5px;
}

.spr_book2 {
  background-image: url('/images/img/spr_book2.png');
  background-size: 330px 400px;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  color: transparent;
}

.spr_book2.ico_minus3.max {
  background-position: -84px -305px;
}

.spr_book2.ico_minus3 {
  width: 40px;
  height: 40px;
  background-position: -42px -305px;
}

.spr_book2.ico_minus3.disabled {
  background-position: 0 -305px;
}

.spr_book2.ico_plus3 {
  width: 40px;
  height: 40px;
  background-position: -168px -305px;
}

.spr_book2.ico_plus3.disabled {
  background-position: -126px -305px;
}

.spr_book2.ico_bell {
  width: 13px;
  height: 13px;
  background-position: -249px -178px;
}

.spr_book2.ico_book2 {
  width: 15px;
  height: 15px;
  background-position: -202px -284px;
}

.spr_book2.ico_book_ss {
  width: 15px;
  height: 15px;
  background-position: -151px -284px;
}

.spr_book2.ico_back {
  width: 15px;
  height: 15px;
  background-position: -185px -284px;
}

.spr_book2.ico_check {
  width: 15px;
  height: 15px;
  background-position: -168px -284px;
}

.spr_book2.ico_clock {
  width: 17px;
  height: 17px;
  background-position: -277px -46px;
}

.spr_book2.ico_check2 {
  width: 17px;
  height: 17px;
  background-position: -277px -65px;
}

.spr_book2.ico_cancel {
  width: 17px;
  height: 17px;
  background-position: -277px -150px;
}

.spr_book2.ico_mapview {
  width: 40px;
  height: 40px;
  background-position: -287px -196px;
}
.spr_book2.ico_cls {
  width: 16px;
  height: 16px;
  background-position: -281px -26px;
}

.spr_book2.ico_arr6_lt {
  width: 11px;
  height: 20px;
  background-position: -151px -50px;
}
.spr_book2.ico_arr6_rt {
  width: 11px;
  height: 20px;
  background-position: -164px -50px;
}
.spr_book2.ico_arr6_lt.off {
  opacity: 0.6;
}

.spr_bi {
  background-image: url('/images/img/spr_bi.c753b938cfe0481b000adab9b84a1f8c.png');
  background-size: 130px 154px;
  font-size: 0;
  overflow: hidden;
  display: inline-block;
  color: transparent;
  vertical-align: top;
  text-indent: 100%;
  white-space: nowrap;
}

.spr_bi.txt_logo {
  width: 78px;
  height: 30px;
  background-position: 0 -56px;
}

/* 수정해야함*/

.Modal {
  font-family: 'Nanum Gothic';
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.modalContent {
  animation: createBox 0.25s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.modalText {
  width: 300px;
  padding: 20px;
  background-color: var(--text-bright-color);
}

.Modal h1 {
  font-size: 20px;
  margin-bottom: 50px;
}

.Modal img {
  cursor: pointer;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

button.Button {
  color: #000;
  background-color: #f4f4f4;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  border: 1px solid #ccc;
  line-height: 30px;
}

a.Button {
  color: #000;
  background-color: #f4f4f4;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: inherit;
  padding: 6px 0;
  border: 1px solid #ccc;
  line-height: 30px;
}

.FlexContainer {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.Header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

.Header a {
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 414px) {
  .Header .container {
    /* 폰트 고정 영역*/
  }
}

.LoginForm .container {
  width: auto;
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

.LoginForm .headerBox {
  margin: 0 20px;
  border-bottom: 1px solid #c0c0c0;
}

.LoginForm h1 {
  line-height: 30px;
  font-size: 16px;
}

.LoginForm p {
  font-size: 16px;
  padding: 10px 0 10px 20px;
}

.LoginForm input[type='text'] {
  margin-left: 20px;
  padding-left: 10px;
  font-family: 'Nanum Gothic Regular';
  font-size: 16px;
  width: 364px;
  height: 40px;
}

.LoginForm input[type='submit'] {
  background-color: #fff;
  background-color: var(--text-bright-color);
  font-family: 'Nanum Gothic Regular';
  font-size: 16px;
  color: #1ec800;
  color: var(--main-color);
  padding: 0;
  margin: 20px 0 50px 20px;
  border-style: solid;
  border-color: #1ec800;
  border-color: var(--main-color);
  border-width: 1px;
  height: 40px;
  width: 378px;
}

@media (min-width: 414px) {
  .LoginForm .container {
    /**/
  }
}

.Footer {
  width: auto;
  background-color: var(--grey-color);
  background-color: #e9ecef;
}

.Footer a {
  display: block;
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
}

.Footer .caution {
  text-align: center;
  padding: 20px 10px 0 10px;
  opacity: 0.5;
  font-size: 12px;
}

.Footer .copyright {
  display: block;
  text-align: center;
  padding: 15px 0;
  opacity: 0.5;
  font-size: 12px;
}

@media (min-width: 414px) {
  /* 사이즈 고정 영역*/
}

.MainNavBar {
  width: 100vw;
  max-width: 414px;
}

.MainNavBar.fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  background-color: #1ec800;
  background-color: var(--main-color);
  z-index: 1;
}

.MainNavBar.transparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: 3;
}

.MainNavBar img {
  display: inline-block;
  width: 17.5vw;
  padding: 2.5vw;
}

.MainNavBar h2 {
  font-size: 4.35vw;
  padding-right: 2.5vw;
  margin: 0px;
  color: #fff;
  color: var(--text-bright-color);
}

.MainNavBar span {
  cursor: pointer;
}

@media (min-width: 414px) {
  .MainNavBar {
    /*left: calc(calc(100% - 414px) / 2);*/
  }
  .MainNavBar img {
    width: 72.45px;
    padding: 10.35px;
  }
  .MainNavBar h2 {
    font-size: 18px;
    padding-right: 10.35px;
  }
}

.SubNavBar {
  background-color: var(--text-bright-color);
  background-color: #fff;
  padding: 20px 10px;
  width: auto;
  display: flex;
  font-size: 18px;
  border-bottom: 10px solid #e9ecef;
}

.SubNavBar h1 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.SubNavBar .backward {
  flex: 1;
}

.SubNavBar .backward i {
  cursor: pointer;
  font-size: 20px;
}

.SubNavBar .titleName {
  flex: 8;
}

.SubNavBar .empty {
  flex: 1;
}

.ImageSlider {
  /*
  width: 100vw;
  max-width: 414px;
  max-width: var(--breakpoint-width);
  */
  height: 100vw;
  max-height: 414px;
  max-height: var(--breakpoint-width);
  overflow: hidden;
}

.ImageSlider.promotion {
  margin-top: 12vw;
}

.ImageSlider.detail {
  position: absolute;
  width: 100vw;
  max-width: 414px;
  max-width: var(--breakpoint-width);
}

.ImageSlider.detail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 1;
}

.ImageSlider ul {
  height: 100%;
  display: flex;
  transition-property: transform;
}

@media (min-width: 414px) {
  .ImageSlider.promotion {
    margin-top: 52.88px;
  }

  .titleImage .container {
    left: calc(calc(100% - 414px) / 2);
    margin: 0 auto;
  }
}

img.MainImage {
  width: 100vw;
  max-width: 414px;
  height: 100vw;
  max-height: 414px;
}

.ImageTitle {
  position: relative;
  width: auto;
  height: 100vw;
  max-height: 414px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.ImageTitle .top {
  flex: 3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ImageTitle .top > span {
  display: inline-block;
  font-size: 12px;
  color: #c0c0c0;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 45%;
  background: rgba(0, 0, 0, 0.5);
}

.ImageTitle .top span.bright {
  color: #fff;
  color: var(--text-bright-color);
  background-color: transparent;
}

.ImageTitle .middle {
  flex: 4;
  display: flex;
  align-items: center;
}

.ImageTitle .left {
  flex: 1;
  font-size: 35px;
  line-height: 80px;
  color: #fff;
  color: var(--text-bright-color);
  text-align: center;
}

.ImageTitle .left i:hover {
  cursor: pointer;
}

.ImageTitle .center {
  flex: 8;
}

.ImageTitle .right {
  flex: 1;
  font-size: 35px;
  line-height: 80px;
  color: #fff;
  color: var(--text-bright-color);
  text-align: center;
}

.ImageTitle .right i:hover {
  cursor: pointer;
}

.ImageTitle .bottom {
  flex: 3;
}

.ImageTitle h1 {
  font-size: 35px;
  line-height: 80px;
  /*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
  padding: 0;
  margin: 0;
  color: #fff;
  color: var(--text-bright-color);
  text-align: center;
}

@media (min-width: 414px) {
  .ImageTitle .container {
    /**/
  }
}

.ProductDesc {
  width: auto;
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.ProductDesc p {
  margin: 0;
  line-height: 20px;
  padding: 20px;
}

.ProductDesc .moreDesc {
  display: none;
}

@media (min-width: 414px) {
  .ProductDesc {
  }
}

.EventInfo {
  background-color: #fdfced;
  width: auto;
  padding: 10px 20px 0 20px;
}

.EventInfo h2 {
  line-height: 27px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.EventInfo p {
  margin: 0;
  line-height: 25px;
  font-weight: 500;
  padding: 10px 0 10px 0;
  border-top: 1px solid #c0c0c0;
}

@media (min-width: 414px) {
  .EventInfo {
  }
}

.ReviewContainer {
  background-color: var(--text-bright-color);
  background-color: #fff;
  border-bottom: 1px solid #c0c0c0;
}

.ReviewContainer aside p {
  padding: 15px 10px;
  font-size: 0.8rem;
  opacity: 0.7;
}

@media (min-width: 414px) {
  .ReviewContainer {
  }
}

/*
.CommentContainer a {
  display: block;
  font-family: inherit;
  color: #000;
  color: var(--text-dark-color);
  font-size: 14px;
  text-align: center;
  width: 100vw;
  max-width: 412px;
  line-height: 40px;
  background-color: #f3f5f6;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
*/

.ReviewSummary {
  padding: 10px 10px 14px 10px;
  border-bottom: 1px solid #c0c0c0;
}

.ReviewSummary h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

.ReviewSummary .getStar {
  color: #f00;
}

.ReviewSummary .ratioStar:before {
  content: '\EAA3';
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.ReviewSummary .notGetStar {
  color: #e6e6e6;
}

.ReviewSummary .summaryContainer {
  display: flex;
  justify-content: space-between;
}

.ReviewSummary .summaryContainer span {
  display: inline-block;
}

.ReviewSummary .starCount {
  padding-right: 0.5em;
}

.ReviewSummary .averageScore {
  padding-right: 0.5em;
  font-weight: bold;
}

.ReviewSummary .maxScore {
  opacity: 0.5;
  font-weight: bold;
}

.ReviewSummary .commentCount {
  color: #1ec800;
  color: var(--main-color);
  padding-right: 0.3em;
}

.ReviewSummary .enrollText {
  opacity: 0.5;
}

/*
.comment .commentSummary .ratioStar:before {
  background: linear-gradient(
    to Right,
    #f00 #{Math.round(ratioStar * 100)}%,
    #e6e6e6 #{Math.round((1-ratioStar) * 100)}%
  );
  content: '\EAA3';
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
*/

.ReviewList {
  padding: 0 10px;
}

.Review {
  padding: 14px 0px;
  border-bottom-color: #c0c0c0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.Review .top {
  display: flex;
}

.Review .top .left {
  flex: 7;
}

.Review .top .right {
  text-align: right;
  flex: 3;
}

.Review .right img {
  display: none;
  width: auto;
}

.Review .right img:hover {
  cursor: pointer;
}

.Review .bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.Review p {
  margin: 0;
  padding: 0 0 10px 0;
}

.Review span {
  display: inline-block;
}

.Review .score {
  font-weight: bold;
  padding-right: 0.75em;
}

.Review .email {
  padding: 0 0.75em;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 0 1px;
  opacity: 0.8;
}

.Review .visitDate {
  padding-left: 0.75em;
  opacity: 0.5;
}

.Review .edit {
  cursor: pointer;
  opacity: 0.5;
  padding-right: 0.75em;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 0 1px 0 0;
}

.Review .delete {
  cursor: pointer;
  padding-left: 0.75em;
  opacity: 0.5;
}

.ReviewEdit {
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.ReviewEdit .ratingSection p {
  text-align: center;
  font-size: 17px;
  padding: 15px 0 10px 0;
}

.ReviewEdit .ratingSection .ratingStar {
  display: flex;
  justify-content: center;
}

.ReviewEdit .ratingSection i {
  font-size: 38px;
  cursor: pointer;
}

.ReviewEdit .ratingSection i.getStar {
  color: #f00;
}

.ReviewEdit .ratingSection i.notGetStar {
  color: #e6e6e6;
}

.ReviewEdit .ratingSection input[type='number'] {
  all: unset;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Nanum Gothic Bold';
  padding-left: 5px;
  text-align: right;
  width: 40px;
  color: #ddd;
}

.ReviewEdit .writeComment {
  display: flex;
  justify-content: center;
  padding: 10px 20px 0 20px;
}

.ReviewEdit .writeComment textarea {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Nanum Gothic Regular';
  border: 1px solid #e8e8e8;
  resize: none;
}

.ReviewEdit .postImage .imageLetterCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 20px 30px 20px;
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 0 1px 1px 1px;
}

.ReviewEdit .postImage .imageLetterCount input[type='file'] {
  display: none;
}

.ReviewEdit .postImage .imageLetterCount label {
  cursor: pointer;
  font-size: 18px;
  margin: 10px 0 10px 10px;
}

.ReviewEdit .postImage .imageLetterCount p {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #999;
}

.ReviewEdit .postImage .thumbnailImage {
  width: 200px;
  margin: 20px 0 30px 107px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-start;
  display: none;
}

.ReviewEdit .postImage .thumbnailImage i {
  font-size: 20px;
  color: #1ec800;
  color: var(--main-color);
  border: 1px solid #1ec800;
  cursor: pointer;
}

.ReviewEdit .submitSection {
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

.ReviewEdit input[name='submit'] {
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  margin: 10px 0 30px 10px;
  padding: 0;
  width: 394px;
  background-color: #1ec800;
  background-color: var(--main-color);
  border: none;
}

.ReviewEdit input[name='change'] {
  display: inline-block;
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  padding: 0;
  width: 197px;
  background-color: #1ec800;
  background-color: var(--main-color);
  border: none;
}

.ReviewEdit input[name='cancel'] {
  display: inline-block;
  color: #fff;
  color: var(--text-bright-color);
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  line-height: 40px;
  text-align: center;
  padding: 0;
  width: 197px;
  background-color: #d8dbde;
  border: none;
}

@media (min-width: 414px) {
}

.ProductInfo {
  width: auto;
  background-color: var(--text-bright-color);
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.ProductInfo .productDetail {
  width: 100vw;
  max-width: 414px;
}

.ProductInfo .productDetail h2 {
  padding: 14px 0px 14px 7px;
  font-size: 16px;
}

.ProductInfo .productDetail p {
  margin: 0;
  line-height: 20px;
  padding: 0 20px 0px 20px;
}

.ProductInfo .directions {
  width: 100vw;
  max-width: 414px;
}

.ProductInfo .directions img {
  padding: 20px 10px 10px 10px;
  width: auto;
  height: auto;
  max-width: 393px;
}
.ProductInfo .directions h2 {
  font-size: 16px;
  margin: 0;
  padding: 0 0 0 10px;
}
.ProductInfo .directions .locText {
  display: table;
  padding: 10px 0 0 10px;
}
.ProductInfo .directions .tableRow {
  display: table-row;
  margin: 10px 0;
}
.ProductInfo .directions p {
  display: table-cell;
}
.ProductInfo .directions p.icon {
  padding: 0 6px 0 0;
}
.ProductInfo .directions p.text {
  padding: 0 0 6px 0;
}
.ProductInfo .directions span.greyText {
  color: #808080;
  color: var(--text-grey-color);
}
.ProductInfo .directions .buttonContainer {
  padding: 20px;
}
.ProductInfo .buttonContainer button {
  width: 50%;
  font-family: inherit;
  font-size: 14px;
  line-height: 40px;
  background-color: #f3f5f6;
  border-color: #c0c0c0;
  border-style: solid;
  border-width: 1px;
}
.ProductInfo .buttonContainer button.navigation {
  border-left-style: none;
}

@media (min-width: 414px) {
  .ProductInfo {
  }
}

.TabUI {
  width: auto;
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.TabUI ul {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.TabUI li {
  font-family: 'Nanum Gothic Bold';
  font-size: 15px;
  flex: auto;
  padding: 7.5px 0px;
}

.TabUI li:hover {
  cursor: pointer;
}

.TabUI li.active {
  color: #1ec800;
  color: var(--main-color);
}

.TabUI .indicator {
  background-color: #1ec800;
  background-color: var(--main-color);
  height: 0.25rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.TabView {
  width: auto;
  overflow: hidden;
}

.TabView ul {
  display: flex;
}

.TabView li {
  width: auto;
}

.ReserveForm {
  background-color: var(--text-bright-color);
  background-color: #fff;
  width: 100vw;
  max-width: 414px;
  max-width: var(--breakpoint-width);
}

.ReserveForm button[type='submit'] {
  width: 394px;
  margin: 0 10px 10px 10px;
  font-size: 16px;
  font-family: 'Nanum Gothic Bold';
  background-color: #d1d1d1;
  border-style: none;
  line-height: 40px;
  color: #fff;
  color: var(--text-bright-color);
  padding: 0;
  transition: background-color 1s;
}

.ReserveForm button[type='submit'] i {
  vertical-align: middle;
}

@media (min-width: 414px) {
  .ReserveForm {
  }
}

.TicketInputList {
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

.TicketInput {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.TicketInput .left {
  flex: 6;
}

.TicketInput .left h2 {
  margin: 0;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
}

.TicketInput p {
  font-size: 14px;
  color: #808080;
  color: var(--text-grey-color);
  margin: 5px 0 0 0;
}

.TicketInput .right {
  flex: 4;
}

.TicketInput .right p {
  text-align: right;
}

.TicketInput .adjustTicket {
  display: flex;
  justify-content: flex-end;
}

.TicketInput .adjustTicket button {
  flex: 1;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  max-width: 40px;
  border-style: none;
  font-family: 'Nanum Gothic Bold';
  background-color: #fff;
  background-color: var(--text-bright-color);
}

.TicketInput .adjustTicket button.ico_minus3 {
  color: #1ec800;
  color: var(--main-color);
}

.TicketInput .adjustTicket button.ico_plus3 {
  background-color: #1ec800;
  background-color: var(--main-color);
  color: #fff;
  color: var(--text-bright-color);
}

.TicketInput .adjustTicket button.disabled.ico_minus3 {
  background-position: 0 -305px;
}

.TicketInput .adjustTicket .count {
  display: block;
  flex: 1;
  width: 40px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Nanum Gothic Bold';
  color: #1ec800;
  color: var(--main-color);
  min-width: 0;
  max-width: 40px;
  text-align: center;
  border-style: solid;
  border-width: 1px 0;
  border-color: #1ec800;
  border-color: var(--main-color);
}

.TicketInput .adjustTicket .disabled {
  border-color: #ccc;
  color: #bbb;
}

.ReserverInfo {
  width: 100%;
  margin-bottom: 10px;
}

.ReserverInfo i {
  color: #1ec800;
  color: var(--main-color);
}

.ReserverInfo .reserverHeader {
  display: flex;
  justify-content: space-between;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px 20px;
}

.ReserverInfo .reserverHeader h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.ReserverInfo .reserverHeader p {
  color: #989898;
  margin: 0;
}

.ReserverInfo .tableContainer {
  display: table;
}

.ReserverInfo .tableRow {
  display: table-row;
}

.ReserverInfo .tableRow h2 {
  display: table-cell;
  font-size: 16px;
  padding: 10px 20px;
}

.ReserverInfo .tableRow p {
  display: table-cell;
  font-size: 16px;
  padding: 5px 20px;
}

.ReserverInfo input {
  font-size: 16px;
  font-family: 'Nanum Gothic Regular';
  width: 250px;
}

.ReserverInfo .tableRow p:first-child {
  font-family: 'Nanum Gothic Bold';
  color: #666;
}

.ReserverInfo .alertMessage {
  font-family: 'Nanum Gothic Bold';
  color: #f00;
}

.TOS {
  width: 100%;
  border-top-color: #e9ecef;
  border-top-color: var(--grey-color);
  border-top-style: solid;
  border-top-width: 1px;
}

.TOS > p {
  display: none;
  background-color: #e9ecef;
  background-color: var(--grey-color);
  padding: 10px 20px;
  margin: 0 20px 20px 20px;
}

.TOS .allAgreement {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.TOS .allAgreement input[name='TOSCheck'] {
  display: none;
}

.TOS .allAgreement input[name='TOSCheck'] + label {
  font-size: 16px;
  font-family: 'Nanum Gothic Bold';
  cursor: pointer;
}

.TOS .allAgreement input[name='TOSCheck'] + label:before {
  cursor: pointer;
  content: '';
  overflow: hidden;
  display: inline-block;
  color: transparent;
  vertical-align: middle;
  background-image: url(/images/img/spr_book2.png);
  background-size: 330px 400px;
  width: 26px !important;
  height: 26px !important;
  background-position: -47px -273px;
}

.TOS .allAgreement input[name='TOSCheck']:checked + label:before {
  background-position: -75px -273px;
  background-color: transparent;
}

.TOS .allAgreement p {
  margin: 0;
  padding: 0;
  color: #989898;
  line-height: 25px;
}

.TOS .agreement {
  display: flex;
  justify-content: space-between;
  color: #666;
  padding: 0 20px 20px 20px;
}

.TOS .agreement p {
  padding: 0;
  margin: 0;
}

.TOS .agreement p:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.ReserveDesc {
  background-color: var(--text-bright-color);
  background-color: #fff;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding: 20px;
}

.ReserveDesc .chargeText {
  margin-top: 20px;
}

.ReserveDesc h2 {
  font-size: 16px;
  line-height: 30px;
}

.ReserveDesc p {
  font-size: 14px;
}

@media (min-width: 414px) {
  .ReserveDesc {
  }
}

.TicketHead {
  display: flex;
  padding: 10px 10px 0 10px;
}

.TicketHead .ticketMiddle {
  position: relative;
  overflow: hidden;
  background-size: auto 54px;
  background-repeat: repeat-x;
  width: 100%;
  height: 54px;
  max-height: 54px;
  vertical-align: top;
}

.TicketHead .ticketMiddle span {
  position: absolute;
  top: 25%;
  left: 10px;
  font-size: 16px;
  font-family: 'Nanum Gothic Bold';
  color: #fff;
  color: var(--text-bright-color);
}

.TicketHead .ticketLeft,
.ticketRight {
  overflow: hidden;
  background-size: 12px 54px;
  background-repeat: no-repeat;
  width: 12px;
  height: 54px;
  vertical-align: top;
}

.TicketHead.green .ticketLeft {
  background-image: url('/images/img/bg_card2_hl.png');
}

.TicketHead.green .ticketRight {
  background-image: url('/images/img/bg_card2_hr.png');
}

.TicketHead.grey .ticketLeft {
  background-image: url('/images/img/bg_card3_hl.png');
}

.TicketHead.grey .ticketRight {
  background-image: url('/images/img/bg_card3_hr.png');
}

.TicketHead.green .ticketMiddle {
  background-image: url('/images/img/bg_card2_hm.gif');
}

.TicketHead.grey .ticketMiddle {
  background-image: url('/images/img/bg_card3_hm.gif');
}

.TicketInfoList {
  margin: 0 10px;
  transition: height 1s;
  overflow: hidden;
}

.TicketInfoList ol {
  background-color: #fff;
  background-color: var(--text-bright-color);
}

li.TicketInfo {
  width: calc(100% - 60px);
  padding: 0 30px;
  border-bottom: 1px solid #e9ecef;
  border-bottom-color: var(--grey-color);
  margin-top: 17px;
}

li.TicketInfo:first-child {
  margin-top: 0px;
}

li.TicketInfo .topSection h1 {
  font-size: 22px;
  padding: 5px 0 10px 0;
}

li.TicketInfo .topSection h2 {
  font-family: 'Nanum Gothic Regular';
  font-weight: normal;
  font-size: 14px;
  padding: 5px 0;
}

li.TicketInfo .middleSection {
  padding: 10px 0 0 0;
  display: table;
  border-color: #e9ecef;
  border-color: var(--grey-color);
  border-style: solid;
  border-width: 1px 0;
}

li.TicketInfo .tableRow {
  display: table-row;
}

li.TicketInfo .tableRow p {
  display: table-cell;
  font-size: 16px;
  padding: 0 10px 10px 0;
}

li.TicketInfo .tableRow p.ticket {
  white-space: normal;
}

li.TicketInfo .tableRow p:first-child {
  color: #999;
  white-space: nowrap;
}

li.TicketInfo .bottomSection {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 0;
}

li.TicketInfo .bottomSection p:first-child {
  font-size: 16px;
}

li.TicketInfo .bottomSection p:nth-child(2) {
  font-size: 17px;
  font-family: 'Nanum Gothic Bold';
  color: red;
}

.ReservationCount .container {
  margin-top: 12.8vw;
  background-color: #1ec800;
  background-color: var(--main-color);
  overflow: hidden;
}

.ReservationCount ul {
  display: flex;
}

.ReservationCount li {
  flex: 1;
  color: #fff;
  color: var(--text-bright-color);
  text-align: center;
  padding: 0 10px;
  margin: 10px 0 5px 0;
  border-right: 1px solid #00b436;
}

.ReservationCount a {
  color: inherit;
}

.ReservationCount li:nth-child(4) {
  border-right: none;
}

.ReservationCount h1 {
  font-size: 22px;
  padding: 5px 0;
}

@media (min-width: 414px) {
  .ReservationCount .container {
    margin: 52.88px auto 0 auto;
  }
}

.MainContainer {
  background-color: var(--grey-color);
  background-color: #e9ecef;
}

.MainContainer p.more {
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border-left: 6px solid #e9ecef;
  border-right: 6px solid #e9ecef;
}

.MainView {
  width: 100vw;
  max-width: 414px;
  display: flex;
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

@media (min-width: 414px) {
}

.ProductContainer.left {
  flex: 1;
  margin: 10px 6px 3px 6px;
}

.ProductContainer.right {
  flex: 1;
  margin: 10px 6px 3px 0px;
}

.ProductBox {
  background-color: #fff;
  color: #000;
  color: var(--text-dark-color);
  margin-bottom: 10px;
}

.ProductBox .photo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc((100vw - 18px) / 2);
  height: calc((100vw - 18px) / 2);
  max-width: 198px;
  max-height: 198px;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.ProductBox .head {
  color: var(--text-dark-color);
  color: #000;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.ProductBox h1 {
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

.ProductBox h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 0px 7px 7px 7px;
}

.ProductBox p {
  margin: 0;
  color: #808080;
  color: var(--text-grey-color);
  font-size: 16px;
  line-height: 20px;
  padding: 7px;
}

.ProductBox .helping {
  height: 1em;
}

.ProductBox i {
  display: block;
  color: transparent;
  float: right;
  margin-right: 10px;
}

.TotalCount {
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.TotalCount p {
  text-align: center;
  color: #808080;
  color: var(--text-grey-color);
  padding: 10px 0px 10px 0px;
}

.TotalCount p strong {
  color: #f00;
  color: var(--text-highlight-color);
}

.NotFound {
  background-color: var(--text-bright-color);
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.NotFound h1 {
  color: var(--main-color);
  font-size: 100px;
}

.NotFound h2 {
  color: var(--main-color);
  font-size: 40px;
}

