.Header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: #e9ecef;
  background-color: var(--grey-color);
}

.Header a {
  display: inline-block;
  text-decoration: none;
}

@media (min-width: 414px) {
  .Header .container {
    /* 폰트 고정 영역*/
  }
}
