.ImageSlider {
  /*
  width: 100vw;
  max-width: 414px;
  max-width: var(--breakpoint-width);
  */
  height: 100vw;
  max-height: 414px;
  max-height: var(--breakpoint-width);
  overflow: hidden;
}

.ImageSlider.promotion {
  margin-top: 12vw;
}

.ImageSlider.detail {
  position: absolute;
}

.ImageSlider.detail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  z-index: 1;
}

.ImageSlider ul {
  height: 100%;
  display: flex;
  transition-property: transform;
}

@media (min-width: 414px) {
  .ImageSlider.promotion {
    margin-top: 52.88px;
  }

  .titleImage .container {
    left: calc(calc(100% - 414px) / 2);
    margin: 0 auto;
  }
}
