button.Button {
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  border: 1px solid #ccc;
  line-height: 30px;
}

a.Button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: inherit;
  padding: 6px 0;
  border: 1px solid #ccc;
  line-height: 30px;
}
