.ReserveDesc {
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 10px;
}

.ReserveDesc h2 {
  margin: 20px 0 5px 0;
  padding: 0 20px;
  font-family: 'Nanum Gothic Bold';
  font-size: 16px;
}

.ReserveDesc p {
  margin: 5px 0 20px 0;
  padding: 0 20px;
  font-size: 14px;
}

@media (min-width: 414px) {
  .ReserveDesc {
  }
}
