.ReserveDesc {
  background-color: var(--text-bright-color);
  background-color: #fff;
  border-bottom-color: #e9ecef;
  border-bottom-color: var(--grey-color);
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding: 20px;
}

.ReserveDesc .chargeText {
  margin-top: 20px;
}

.ReserveDesc h2 {
  font-size: 16px;
  line-height: 30px;
}

.ReserveDesc p {
  font-size: 14px;
}

@media (min-width: 414px) {
  .ReserveDesc {
  }
}
