.TabUI {
  width: auto;
  background-color: var(--text-bright-color);
  background-color: #fff;
}

.TabUI ul {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.TabUI li {
  font-family: 'Nanum Gothic Bold';
  font-size: 15px;
  flex: 1;
  padding: 7.5px 0px;
}

.TabUI li:hover {
  cursor: pointer;
}

.TabUI li.active {
  color: #1ec800;
  color: var(--main-color);
}

.TabUI .indicator {
  background-color: #1ec800;
  background-color: var(--main-color);
  height: 0.25rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
