.MainContainer p.more {
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  height: 35px;
  line-height: 35px;
  padding: 0;
  border-left: 6px solid #e9ecef;
  border-right: 6px solid #e9ecef;
}
