.NavBar .container.fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  background-color: #1ec800;
  background-color: var(--main-color);
  z-index: 1;
}

.NavBar .container.transparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: absolute;
  background-color: transparent;
  z-index: 3;
}

.NavBar .container {
  padding: 20px 10px;
  width: auto;
  display: flex;
  font-size: 18px;
}

.NavBar img {
  display: inline-block;
  width: 17.5vw;
  padding: 2.5vw;
}

.NavBar h1 {
  font-size: 18px;
  font-family: 'Nanum Gothic Bold';
  margin: 0;
  padding: 0;
}

.NavBar h2 {
  font-family: 'Nanum Gothic Bold';
  font-size: 4.35vw;
  padding-right: 2.5vw;
  margin: 0px;
  color: #fff;
  color: var(--text-bright-color);
}

.NavBar .backward {
  flex: 1;
}

.NavBar .backward i {
  font-size: 20px;
}

.NavBar .titleName {
  flex: 8;
}

.NavBar .empty {
  flex: 1;
}

@media (min-width: 414px) {
  .NavBar .container.fixed.transparent {
    left: calc(calc(100% - 414px) / 2);
  }
  .NavBar img {
    width: 72.45px;
    padding: 10.35px;
  }
  .NavBar h2 {
    font-size: 18px;
    padding-right: 10.35px;
  }
}
