.Footer .container {
  width: auto;
  border: 1px solid #000;
}

.Footer a {
  display: block;
  font-size: 13px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #000;
}

.Footer .caution {
  margin: 0;
  text-align: center;
  padding: 0 10px;
  opacity: 0.5;
  font-size: 12px;
}

.Footer .copyright {
  display: block;
  text-align: center;
  padding: 15px 0;
  opacity: 0.5;
  font-size: 12px;
}

@media (min-width: 414px) {
  /* 사이즈 고정 영역*/
}
